
body {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    overflow-x: hidden;
}

#title {
    background-image: url("../images/pierre-chatel-innocenti-pxoZSTdAzeU-unsplash.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
    width:100%;
    background-size:100% auto;
    position: relative;
}

.navbar {
    padding-bottom: 4.5rem;
}

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-brand {
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: light;
}


h1,h2,h3,h4,h5,h6 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}




.title-row {
    padding-top: 10%;
    text-align: center;
    position: relative;
    left: 20%;
    margin-right: 0;
    color: white;
    padding-bottom: 20%;
}

.big-heading { 
    font-size: 5rem;
    line-height: 2.5;
    font-weight: 900;
    font-family: 'Permanent Marker', cursive;
}


.ruben-logo {
    width: 15%;
}

#quote-section {
    padding: 10% 0 10%;
}

.quote {
    text-align: center; 
}


.quote-container {
    position:relative;
    text-align: center;
    margin: auto;
    color: #236d76;
}

#about {
    background: url("../images/texture.png");
    color:white;
    padding: 10% 0;

}

.about-box {
    text-align: left;
    position: relative;
    right: 10%;
}


.about-text {
    line-height: 2;
    font-size: 1.5rem;
}

.about-profile {
    padding-top: 20%;
}

.profile-box {
    text-align: center;
}


.lettering {
    font-family: 'Permanent Marker', cursive;
    line-height: 1.5;
    font-size: 10rem;
    font-weight: 100;
    color:#5eb3c1;
    margin-left: 15%;
}

#content {
    position: relative;
    padding-top: 10%;
    text-align: center;
    background: url(".images/keefe.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
    width:100%;
    background-size: 100% auto;
    padding-bottom:10%;

}


.progress {
    width: 25%;
    height:25%;
    margin:auto;
}

#projects {
    position: relative;
    text-align: center;
    margin: auto;
    padding-top: 10%;
}

#projects iframe {
    width: 800px;
    height: 800px;
}

#projects span {
    color: black;
    font-weight: bold;
}

/* .projects-container {
    background-image: url("C:\\Users\\RYZEN\\Desktop\\Coding\\Proyecto_ticmas\\css\\texture.png");
    background-repeat: repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
    width:100%;
    background-size: 100% auto;
} */

.header {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 400;
    text-decoration: underline;
    color: #236d76;

}

.feature-icon {
    color: #5eb3c1;
    margin-bottom: 5%;
}

.content-box {
    text-align: center;
    padding: 5%;
}

.projects-box {
    padding-bottom: 10%;
}

.projects-box h4 {
    padding: 0 10%;
}


.project-image {
   width: 600px;
}

.project-h2 {
    color:white;
    font-family: 'Permanent Marker', cursive;
    font-weight: 200;
    line-height: 1.5;
    font-size: 2.5rem;
}

#projects h4 {
    text-align: center;
    margin:auto;
    font-weight: 200;
    color: #236d76;
}

.projects-p {
    padding-bottom: 10%;
}

#projects .shadow {
    text-align: center;
    margin: auto;
    padding-top: 10px;
    background: url("../images/texture.png");

}

.fullstack {
    padding-left: 10%;
    padding-right: 10%;
}

#footer {
    background: url("../images/texture.png");
    color:white;
    text-align: center;
    padding:7% 15%;
}

.footer-btn {
    outline: none;
    padding: 2%;
}

#footer i {
    color: white;
    font-size: 2rem;
    width: 25%;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height:100vh;
}

/* ANIMATION SECTION */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 3s;
}

.hidden-right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 3s;
}

#about.profile-box {
    animation-delay: 300ms;
}

#projects.shadow:nth-child(1) {
    animation-delay: 400ms;
}

.show {
    opacity: 1;
    filter:blur(0);
    transform: translateX(0);
}




@media (max-width:1240px) {

    #title {
        display: inline-block;
        background: url("../images/pierre-chatel-innocenti-pxoZSTdAzeU-unsplash.jpg");
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;   
        width:100%;
        background-size:100% auto;
        position: absolute;
    }

    .title-row h2{
        font-size: 1.5rem;
        padding: 0;
    }
    .title-row h1 {
        font-size: 2.5rem;
        padding: 0;
    }
    .quote-container {
        position: relative;
        padding-top: 65%;
    }

    #quote-section {
        animation-delay: 1000ms;
    }

    #quote-section h1 {
        font-size: 2rem;
    }

    .about-text {
        font-size: 1rem;
        padding-left: 20%;
    }

    .about-profile {
        width: 50%;
        padding-top: 0;
    }

    #content .feature-icon {
    transform: scale(0.4);
    }


    #content .row {
        padding: 0;
        margin: auto;
    }

    .content-box {
        display: grid;
        place-items: center;
        align-content: center;
        text-align: center;
        width: 100%;
        margin: auto;
        padding: 0;
        color: white;
        font-size: 1rem;
    }

    #projects .container-fluid {
        width:50%;
        height: 50%;
    }

    #projects.row {
        padding-bottom: 20%;
    }

    #projects iframe {
        width: 100%;
        height: 40%;
    }

    #projects .python-grid {
        display: grid;
        place-items: center;
        align-content: center;
        text-align: center;
        width: 100%;
        margin: auto;
        padding: 10%;
    }

    
     #projects .uxui-grid {
        display: grid;
        place-items: center;
        align-content: center;
        text-align: center;
        width: 100%;
        margin: auto;
        padding: 10%;
    }


    #projects .fullstack {
        display: grid;
        place-items: center;
        /* align-content: center; */
        /* text-align: center; */
        width: 100%;
        height: auto;
        margin: auto;
        padding: 10%;
    }



}
